<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="seller/common :: head"></div>
<div th:include="seller/common :: header"></div>

<body>
<div th:include="seller/common :: left_menu"></div>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="/admin/house/welcome">我的桌面</span>
                    <em></em></li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S"
                                                  href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a
                id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a>
        </div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="welcome.html" ></iframe>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    提醒
                </h4>
            </div>
            <div class="modal-body">
                你有一个新订单
            </div>
            <div class="modal-footer">
                <button type="button"  onclick="javascript:document.getElementById('notice').pause();" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">查看</button>
            </div>
        </div>

    </div>

</div>

<div class="contextMenu" id="Huiadminmenu">
    <ul>
        <li id="closethis">关闭当前</li>
        <li id="closeall">关闭全部</li>
    </ul>
</div>
<div th:include="seller/common :: footer">
</div>

<audio id="notice"  th:loop="loop">
    <source th:src="@{/mp3/song.mp3}">
</audio>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="" th:src="@{/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
<!-- 使用原生html5的websocket的进行消息的推送 -->
<script th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket('ws://springboot.natapp1.cc/sell/webSocket');
    } else {
        alert('该浏览器不支持WebSocket');
    }

    websocket.onopen = function (event) {
        console.log("建立连接");
    }

    websocket.onclose = function (event) {
        console.log('连接关闭');
    }


    websocket.onmessage = function (event) {
        console.log('收到订单' + event.data);
        // 弹窗提醒, 音乐播放等等一些列的操作
        $('#myModal').modal('show');
        document.getElementById("notice").play();
    }

    websocket.onerror = function () {
        alert('websocket通信发生错误');
    }

    websocket.onbeforeunload = function () {
        websocket.close();
    }
</script>
</body>
</html>